<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PIELEX</title>
    </head>
    
    <body>
        <section>
       <form action="/login" method="post">
    <input type="text" name="username" placeholder="Nombre de Usuario">
        <input type="password" name="password" placeholder="Contraseña"></input>
    <button type="submit">Iniciar Sesión</button>
</form>
            </section>

    </body>
</html>

